.login-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    width: fit-content;
}

.nav-link.active {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.nav-link.underline {
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

.nav-link.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
    justify-self: center;
}

.nav-link.underline:hover::after {
    width: 100%;
}

.navbar-nav {
    gap: 40px;
    font-size: larger;
}

.navbar-nav.ms-auto {
    display: flex;
    align-items: center;
}

.add-deck-img {
    transform: scale(80%);
}

.create-deck-modal-header{
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    border-bottom: none;
}

.create-deck-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.create-deck-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.create-deck-form .form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.create-deck-form .mb-3 {
    width: 100%;
    margin-bottom: 15px;
}

.create-deck-modal-input {
    background-color: #C8C8C8;
    border-radius: 25px;
    padding-left: 10px;
    border: 0;
}

.create-deck-modal-input:focus {
    background-color: #C8C8C8;
    border: 0;
    border-radius: 25px;
    padding-left: 10px;
}

.create-deck-modal-submit {
    font-size: 18px;
    font-weight: 700;
    background-color: #D82596;
    border: 0;
    --bs-btn-active-bg: #98196a;
}

.create-deck-modal-submit:hover {
    background-color: #98196a;
}

.create-deck-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.format-dropdown-menu {
    right: 0;
    top: 70% !important;
}

.format-dropdown {
    background-color: #C8C8C8;
}

.format-dropdown:hover {
    background-color: #C8C8C8;
    border: 1px solid black;
}

.format-dropdown:focus {
    background-color: #C8C8C8;
}

#userDropdown {
    background-color: transparent;
    color: #4e4e4e;
    border: 0;
    font-size: 17px;
}

.user-dropdown-text {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.user-dropdown-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

#userDropdown:hover .user-dropdown-text::before {
    width: 100%;
}

.deck-create-mobile {
    display: none;
}

@media (max-width: 990px) {

    .navbar-nav {
        gap: 10px;
    }

    .login-links {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .login-links .nav-item,
    .login-links .dropdown {
        width: 100%;
    }

    .dropdown-menu-end {
        right: 0 !important;
        left: auto !important;
    }

    #userDropdown {
        width: 100%;
        text-align: left;
        margin-top: 10px;
        margin-left: -10px;
    }

    .user-dropdown-text {
        width: 100%;
    }

    .add-deck-img {
        margin: 10px 0;
        display: block;
    }

    .deck-create-mobile {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        list-style: none;
        width: fit-content;
        white-space: nowrap;
    }

    .deck-create-normal {
        display: none;
    }
}
