.search-bar {
    display: flex;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-section-header {
    font-size: 24px;
    font-weight: bold;
}

.form-check-input {
    border: 1px solid black;
}

.form-check-input:checked {
    background-color: #d82596;
    border: 0;
}