.set-card {
    background-color: #D82596;
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-card:hover {
    transform: scale(95%);
    background-color: #b51f7e;
}

.set-card img {
    height: auto;
    max-height: 210px;
    width: 100%;
    object-fit: contain;
}

.set-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.set-info {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    color: #f2f2f2;
}

